<h3 class="homeTitle">Dogs Facebook</h3>
<div class="mainButtons">
	<span>
		<button pButton pRipple type="button" [routerLink]="['breeds']">Breeds</button>
		<button pButton pRipple type="button">About</button>
		<button pButton pRipple type="button">Concept</button>
	</span>
</div>
<ng-container class="container">
	<div class="makePost">
		<input type="text" #Name pInputText class="inputName" placeholder="Your Dog Breed">

		<input type="text" #Description pInputText class="inputComment" placeholder="Your Description">
		<button pButton class="postBtn" [disabled]="!Name.value || !Description.value" (click)="addComment(Name.value, Description.value)">Post</button>
	</div>
	<ng-container *ngFor="let data of posts">
		<app-post [user]="data"></app-post>
	</ng-container>
</ng-container>

