<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input pInputText class="p-inputtext-sm" (input)="filterDogs($event)" type="text" name="searchText" [(ngModel)]="searchText"
        aria-describedby="search-text" placeholder="Search" autofocus>
</span>

<ul style="list-style-type: none;" href="#" class="nav-link link-dark">
    <ng-container *ngFor="let breed of filteredDogs">
        <li [appHighlight]="searchText" [routerLink]="['/breed',breed.breedName]" id="breed_element">
            {{ breed.breedName | titlecase}}
            <ul>
                <ng-container *ngFor="let subBreed of breed.subBreedNames" >
                    <li [routerLink]="['/breed',breed.breedName,subBreed]" > 
                        {{ subBreed | titlecase}} 
                    </li>
                </ng-container>
            </ul>
        </li>
    </ng-container>
</ul>
