/* You can add global styles to this file, and also import other style files */
body, html{
	background-color: rgb(217, 217, 217);
}

.myClass {
    font-weight: bold;
    text-transform: capitalize;
};
